.container {

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.header,
.footer {
    flex-shrink: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em;
}

.header>div {
    display: flex;
    gap: 0.5em;
}

.logOut:hover,
.logOut:focus {
    border: none;
    outline: none;
    color: red;
}

.logOut {
    border: none;
    outline: none;
}

.btn,
.btn:focus-within,
.btn:focus {
    background: none;
    border: none;
    outline: none;
}

.btn:disabled {
    cursor: auto;
}

.header {
    align-items: center;
    background-color: whitesmoke;
    color: black;
    border-radius: 15px 15px 0 0;
}

.header>div {
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    overflow-y: auto;
    padding: 0 1em;
    background-color: #3a3a3a;
}

.main ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;

}

.main ul li {
    list-style-type: none;
    text-align: left;
    background-color: #656565;
    margin: 0.2em 0;
    border-radius: 8px;
}

.sender {
    margin: 0;
    color: aqua;
    padding: 0 0.3em;
}

.footer svg {
    padding: 0 0.25em;
}

.footer input {
    width: 20rem;
    border-radius: 15px;
    flex: 1;
    margin: 0 0.5em;
    padding: 0 10px;
    border: none;
    outline: none;
}

.footer form {
    display: flex;
    flex: 1;
}

.footer form button {
    display: flex;
    padding: 0.5em;
}